.jumbotron{
    background-color: lightblue;
    color: black;
    margin-top: 100 px;
    padding-top: 50px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.card-hotel{
 flex: 1 200px;
 margin-top: 10px;
}

footer{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgb(39, 39, 41);
    color: black;
}

.footer-address-icon{
    padding-right: 10px;
}

img{
    margin-bottom: 10px
    ;
}